body {
    background-color: #F9E0BC;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    background-color: #F9E0BC;
    height: 92vh;
    padding-top: 2%;
}

.header {
    background-color: #fcf3e7;
    padding: 10px 35px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    margin: 0 2% 0 2%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
}

.headerComponents {
    width: 20%;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a{
        color: #2894AC;
    }

    img {
        width: 2%;
        height: auto;
    }
}

.schoolName {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ED7921;

    img {
        width: 12%;
        height: auto;
    }
}

.firstInformations {
    width: 100%;
    height: 400px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

#informations {
    width: 0%;
}

#rightComponent {
    background-color: #ED7921;
    width: 35%;
    height: 100%;
    margin: 0%;
    display: flex;
    align-items: center;
    padding: 2%;
    border-radius: 50% 0 0 50%;
}

#firstImage {
    height: 90%;
}

#informations {
    width: 60%;
    padding: 4%;
}

.secondInformations {
    text-align: center;
    padding: 2%;

    h1 {
        margin: 1%;
    }
}

#cards {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.individualCards{
    color: #fcf3e7;
    background-color: #ED7921;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.thirdInformations {
    background-color: #F9E0BC;
    margin-bottom: 4%;
}

.thirdText {
    padding: 1.5%;
    background-color: #2894AC;
    display: flex;
    color: #fcf3e7;
    border-radius: 0 50px 50px 0;
    width: 94%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

    img {
        width: 20%;
        height: auto;
    }

}

#contact {
    padding: 2%;
    background-color: #092228;
    color: #fdf9f3;
    display: flex;
    justify-content: space-evenly;
}

.contactInformations {
    width: 30%;
}

.moreInformations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
        margin: 0%;
    }
}

a{
    color: #2894AC;
    text-decoration: none;
}

p {
    font-size: 30px;
}

h1 {
    margin: 0;
    font-size: 40px;
}

h3 {
    margin: 0;
}