body {
    background-color: #F9E0BC;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background-color: #fcf3e7;
    padding: 10px 35px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    margin: 2% 2% 0 2%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
}

#headerComponents {
    width: 20%;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a{
        color: #2894AC;
    }

    img {
        width: 2%;
        height: auto;
    }
}

#schoolName {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #F5BF8A;

    img {
        width: 12%;
        height: auto;
    }
}

.signIn {
    display: flex;
    justify-content: center;
    height: 70vh;
    color: #092228;
}

#signInForm {
    width: 30%;
    background-color: #F5BF8A;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    h1{
        margin: 0 0 20px 0;
    }
}

form {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
    text-align: center;

    a{
        color: #092228;
    }
}

input {
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    border: none;
}

button {
    background-color: #2894AC;
    color: #fcf3e7;
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    margin: 25px 0 15px 0;
    border: none;
    font-size: large;
}

h4{
    margin: 0%;
}

a {
    text-decoration: none;
}

p {
    font-size: 30px;
}

h1 {
    margin: 0;
    font-size: 40px;
}

h3 {
    margin: 0;
}