body {
    color: #F18852;
    text-align: center;
}

.header {
    margin-bottom: 2%;
}

section {
    display: flex;
    flex-direction: column;
    width: 93.5%;
    margin: 0% 2% 0 2%;
}

input {
    padding: 12px;
    border-radius: 50px;
    border: none;
    background-color: #fcf3e7;
    font-size: 110%;
}

select {
    width: 20%;
    padding: 8px;
    margin: 10px;
    border: none;
    background-color: #2894AC;
    color: aliceblue;
    border-radius: 10px;
}

.studentsInformation {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.actionButton {
    width: 100%;
    display: flex;
    justify-content: end;

    button {
        width: 50vh;
        margin-right: 7vh;
    }
}

.popUp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    button {
        margin: 0%;
        width: 45%;
        background-color: #F18852;
    }
}

.popInfo {
    color: #2894AC;
    width: 30%;
    border-radius: 50px;
    border: solid 2px #2894AC;
    background-color: #fcf3e7;
    padding: 6vh;

    textarea {
        margin: 15px;
        border-radius: 20px;
        background-color: #fcf3e7;
        padding: 12px;
        border: none;
        font-size: 110%;
        width: 80%;
        height: 10vh;
    }
}

.popGrades {
    color: #2894AC;
    background-color: #fcf3e7;
    width: 30%;
    padding: 6vh;
    border-radius: 50px;
    border: solid 2px #2894AC;

    input {
        width: 15%;
        border-radius: 10px;
        border: solid 2px #2894AC;
    }

}

.popRegister {
    background-color: #fcf3e7;
    border: solid 2px #2894AC;
    width: 30%;
    border-radius: 50px;
    padding: 6vh;

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    input {
        margin: 0%;
        width: 65%;
        border: solid 2px #2894AC;
    }

    button{
        margin-top: 1.5vh;
    }
}